:host {
    display: flex;
    width: 100%;
}

:host ::ng-deep .query-area {
    .p-float-label {
        height: 100%;
    }

    .p-inputtextarea {
        height: 100%;
        resize: none;
    }
}

.relative {
    position: relative;
}

.action-button {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1; /* Ensure it appears above other elements */
}