<div class="surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden">
    <div class="flex flex-column w-full align-items-center justify-content-center m-4 sm:m-6">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="Generis logo" class="mb-5 w-6rem flex-shrink-0">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);"
            class="flex flex-column w-full md:w-auto">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Reset password</div>
                    <span class="text-600 font-medium">This password will be required for login</span>
                </div>
                @if(passwordResetForm){
                <form class="flex flex-column w-full md:w-30rem" [formGroup]="passwordResetForm"
                    (ngSubmit)="onSubmit()">
                    <p-floatLabel class="mt-4 mb-1">
                        <p-password inputId="password" formControlName="password" placeholder="Password"
                            [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" autocomplete="new-password"
                            required></p-password>
                        <label for="password" class="font-medium label-required">Password</label>
                    </p-floatLabel>
                    <div class="flex flex-column mb-1 p-float-label-error">
                        @if (passwordResetForm.get('password')?.touched || passwordResetForm.get('password')?.dirty) {
                        @if (passwordResetForm.get('password')?.hasError('required')) {
                        <small class="p-error">
                            Password is required
                        </small>
                        }
                        @if (passwordResetForm.get('password')?.hasError('minlength')) {
                        <small class="p-error">
                            Minimum 6 characters
                        </small>
                        }
                        @if (passwordResetForm.get('password')?.hasError('pattern')) {
                        <small class="p-error">
                            Password must contain at least one number and one lowercase letter
                        </small>
                        }
                        }
                    </div>

                    <p-floatLabel class="mt-4 mb-1">
                        <p-password inputId="confirmPassword" formControlName="confirmPassword"
                            placeholder="Confirm Password" [toggleMask]="true" styleClass="w-full"
                            inputStyleClass="w-full" autocomplete="new-password" required
                            [feedback]="false"></p-password>
                        <label for="confirmPassword" class="font-medium label-required">Confirm Password</label>
                    </p-floatLabel>
                    <div class="flex flex-column mb-1 p-float-label-error">
                        @if (passwordResetForm.get('confirmPassword')?.touched ||
                        passwordResetForm.get('confirmPassword')?.dirty) {
                        @if (passwordResetForm.get('confirmPassword')?.hasError('required')) {
                        <small class="p-error">
                            Confirm Password is required
                        </small>
                        }
                        @if (passwordResetForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                        <small class="p-error">
                            Passwords do not match
                        </small>
                        }
                        }
                    </div>

                    <!-- Error Message -->
                    @if (error$(); as error) {
                    <p-message styleClass="w-full mt-4" severity="error" [text]="error"></p-message>
                    }

                    <button pButton pRipple class="w-full mt-5 text-xl" label="Set Password" type="submit"
                        [disabled]="passwordResetForm.invalid || loading$()" [loading]="loading$()">
                    </button>
                </form>
                }@else {
                <div class="flex flex-column align-items-center mt-8">
                    <p-message styleClass="w-full mt-4" severity="error"
                        text="Invalid reset password token."></p-message>
                </div>

                }
                <div class="flex align-items-center justify-content-end mt-6 gap-5">
                    Cancel password reset?
                    <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                        style="color: var(--primary-color)" [routerLink]="['/auth/login']">Go to login</a>
                </div>
            </div>
        </div>
    </div>
</div>